#header {
    background-color: green;
    border: 1px solid black;
    border-bottom-style: none;
    color: white;
    padding: .25em;
}

#content {
    border: 1px solid black;
}

#footer {
    border: 1px solid black;
    border-top-style: none;
    text-align: center;
}

